﻿<div class="form-row justify-content-center">
  <div class="form-group text-left col-6">
    <label>@Label</label>
    @if (InputType != "textarea")
    {
      <input type="@InputType" class="form-control" placeholder="Enter @Label" value="@Value" @oninput="OnValueChanged" />
    }
    else
    {
      <textarea class="form-control" placeholder="Enter @Label" value="@Value" @oninput="OnValueChanged" />
    }
  </div>
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string InputType { get; set; } = "text";

    [Parameter]
    public object Value { get; set; }

    [Parameter]
    public EventCallback<object> ValueChanged { get; set; }

    private Task OnValueChanged(ChangeEventArgs eventArgs)
    {
      this.Value = eventArgs.Value;

      return this.ValueChanged.InvokeAsync(this.Value);
    }
}
