﻿@inherits LayoutComponentBase
<div class="container-fluid p-0">
  <div class="row">
    <div class="col">
      <NavigationBar />
    </div>
  </div>
  <div class="row text-center justify-content-center">
    <div class="col-10">
      @Body
    </div>
  </div>
</div>
