﻿<nav class="navbar navbar-expand navbar-light bg-light">
  <NavLink class="navbar-brand" href="#">Todo</NavLink>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <NavLink class="nav-link" href="/">Home</NavLink>
      </li>
      <li class="nav-item active">
        <NavLink class="nav-link" href="/MyTodos">My Todos</NavLink>
      </li>
    </ul>
  </div>
</nav>

@code {

}
