﻿@page "/createtodo"
@using BlazorTodo.Shared.Models
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorageService
@inject ITodoItemRepository TodoItemRepository

<h3>Create Todo</h3>
<div>
  <form>
    <FormItem Label="Title" @bind-Value="_title" />
    <FormItem Label="Description" InputType="textarea" @bind-Value="_description" />
    <button type="button" class="btn btn-primary" @onclick="@(async () => await CreateTodoItemAsync())">Create</button>
  </form>
</div>

@code {
    private object _title;

    private object _description;

    private async Task CreateTodoItemAsync()
    {
      // TODO: Replace with real validation
      if (_title == null || _description == null)
        return;

      await TodoItemRepository.AddTodoItemAsync(new TodoItem
      {
        Id = Guid.NewGuid(),
        Title = _title.ToString(),
        Description = _description.ToString(),
      });

      this.NavigateToMyTodos();
    }

    private void NavigateToMyTodos() =>
      NavigationManager.NavigateTo("/mytodos");
}
