﻿@page "/mytodos"
@using BlazorTodo.Shared.Models

@inject NavigationManager NavigationMangager
@inject ILocalStorageService LocalStorageService
@inject ITodoItemRepository TodoItemRepository

<h3>My Todos</h3>
<button class="btn btn-primary m-2" @onclick="NavigateToCreateTodo">Create Todo</button>
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-6 col-sm-10">
    @foreach (var todoItem in _todoItems)
    {
      <div class="card m-2">
        <div class="card-header font-weight-bold">
          @todoItem.Title
        </div>
        <div class="card-body">
          <p class="card-text">@todoItem.Description</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-danger float-right" @onclick="async () => await this.RemoveTodoItemByIdAsync(todoItem.Id)">Delete</button>
        </div>
      </div>
    }
  </div>
</div>

@code {
    private IList<TodoItem> _todoItems = new List<TodoItem>();

    protected override async Task OnInitializedAsync()
    {
      _todoItems = await TodoItemRepository.GetTodoItemsAsync();
    }

    private async Task RemoveTodoItemByIdAsync(Guid id)
    {
      await TodoItemRepository.RemoveTodoItemByIdAsync(id);

      _todoItems = await TodoItemRepository.GetTodoItemsAsync();
    }

    private void NavigateToCreateTodo() =>
      this.NavigationMangager.NavigateTo("/createtodo");
}
